a {
  color: #FFFFFF;
  text-underline-offset: auto;
}

#backgroundVideo {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1; /*te rog pune-l in spatele textului ca mor*/
}

/*.content {*/
/*  position: fixed;*/
/*  bottom: 50;*/
/*  background: rgba(0, 0, 0, 0.5);*/
/*  color: #f1f1f1;*/
/*  width: 30%;*/
/*  padding: 10em;*/
/*}*/

html {
  font-size: 20px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  /*background-image: url("../images/WindowsXpWallpaper.jpg");*/
  /*background-repeat: no-repeat;*/
  /*background-size: cover;*/
  /* Color was white which made text invisible on a white background when the video didn't load */
  color: black; /* default Bootstrap body color (dark) */
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}



.login_container
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}








