@model OSSocial.Models.ApplicationUser

<div>
    <h5 class="mb-0">@Model.DisplayName</h5>
    <div class="small text-muted mb-2">@("@" + Model.UserName)</div>
    <p class="mb-0">@Model.Bio</p>
</div>