@{
    ViewData["Title"] = "Edit post";
}
<h1>@ViewData["Title"]</h1>

<form method="post" action="/Post/EditPost/@ViewBag.Post.Id">
    <label>Title</label>
    <br/>
    @* value inseamna ca adauga valoarea "implicita" care deja era in baza de date *@
    <input type="text" name="Title" value="@ViewBag.Post.Title"/> 
    <br/>
    
    <label>Content</label>
    <br/>
    <input type="text" name="content" value="@ViewBag.Post.Content"/>
    <br/>
    
    <br/>
    <br/>
    <button type="submit">Modify Post</button>
</form>


<p>In progress</p>