@{
    ViewData["Title"] = "Personal Feed";
}
<h1>@ViewData["Title"]</h1>

@foreach (var postare in ViewBag.Posts)
{
    <p>@postare.Title</p>
    <p>@postare.Content</p>
    <p>@postare.formattedTime</p>
    <br/>
    <a href="/Post/Details/@postare.Id">Show post details</a>
    <br/>
    <a href="/Post/EditPost/@postare.Id">Edit post</a>
    <hr/>
}

<a href="/Post/CreatePost">Add a new post</a>

<br/>

<p>Work in progress!</p>