@model OSSocial.Models.Group

<br />

<h2 class= "mb-5 text-center">Create a new Group</h2>

<br />

<form asp-action="Create" asp-controller="Groups" method="post">

    <label asp-for="Name">Group name</label>
    <br />
    <input asp-for="Name" class="form-control" />
    <span asp-validation-for="Name" class="text-danger"></span>
    <br />
    
    <label asp-for="Description">Describe your group:</label>
    <br />
    <input asp-for="Description" class="form-control" />
    <br />
    
    <label asp-for="IsPublic">Is this group public?</label>
    <br/>   
    <input type="checkbox" asp-for="IsPublic" class="form-control"/>
    
    <br />

    <button type="submit" class="btn btn-success">Create Group</button>

</form>