@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Afisarea utilizatorilor</h2>
@if(ViewBag.Message != null){
    <h2 class="p-3 rounded-3 text-center mb-5 alert @ViewBag.Alert">@ViewBag.Message</h2>
}

@* Search engine yay *@

<form method="GET">
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Search by username" name="search"
               value="@ViewBag.SearchString">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </div>
</form>

@if (ViewBag.UsersList.Count == 0)
{
    <h3>No users found... maybe try another username?</h3>
}
else
{
    @foreach (var user in ViewBag.UsersList)
    {
        <div style="padding: 10px; margin-bottom: 20px;">

            <partial name="UserInfo" model="user"></partial>

            <a class="btn btn-success" asp-controller="Profiles" asp-action="Show" asp-route-username="@user.UserName">Show user profile</a>

        </div>

        <br />
        <br />
    }

    <br />
}

